body{
    font-family: 'Montserrat', sans-serif;
}
@media (min-width: 1600px){
    .container{
        max-width: 1540px;
    }
}
a {
    color: #003468;
}
.btn-primary {
    
    --bs-btn-bg: #003468;
    --bs-btn-border-color: #003468;


}
.card-text{
    min-height:220px;
}
.services .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 225px;
    text-align: center;
}



.topBar{
    background: #003468;
}
.topBar .nav-link{
    padding-top:1.5px;
    padding-bottom:1.5px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #003468;
    color:#fff;
}
.nav-pills .nav-link{
    font-weight: 500;
    border-radius: 35px;
    color:#000;
}
.heroBg{
    background: url('../images/header.png');
    background-size: cover;
}
.heroList{
    list-style: none;
}
.heroList li{
    list-style: none;
    }

.services h2 {
    min-height: 5rem;
}
.medical{
    background:url('../images/plusBG.png') left center no-repeat;
}
#myCarousel .carousel-caption {
 
    top: 35%;
}
#myCarousel .carousel-item img{
    min-height: 400px;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
footer.bg-body-tertiary{
    background:url('../images/plusBG2.png') right center no-repeat;
}
.extraCarousel .carousel-control-next, .extraCarousel .carousel-control-prev{
    width:3%;
}
@media (max-width: 480px){
    .navbar-brand img{
        max-width: 220px;
    }
    .extraCarousel .carousel-control-next, .extraCarousel .carousel-control-prev{
        width:10%;
    }
}

@media (max-width: 767px) {
    .extraCarousel .carousel-inner .carousel-item > div {
        display: none;
    }
    .extraCarousel .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    .extraCarousel .carousel-control-next, .extraCarousel .carousel-control-prev{
        width:10%;
    }
}

.extraCarousel .carousel-inner .carousel-item.active,
.extraCarousel .carousel-inner .carousel-item-next,
.extraCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .extraCarousel .carousel-inner .carousel-item-end.active,
    .extraCarousel .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .extraCarousel .carousel-inner .carousel-item-start.active, 
    .extraCarousel .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.extraCarousel .carousel-inner .carousel-item-end,
.extraCarousel .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.extraCarousel .card{
    min-height: 200px;
    max-height: 200px;
    margin-right: 15px;
    border-radius: 0;
    
}

.extraCarousel .card-img-overlay{
    font-size:2rem;
    background: rgba(0,0,0,.5);
    color:#fff;
    border-radius: 0;
}
/*-------Inner Pages -----*/
.inner-pages{
    background-image:url('../images/header1.png');
    background-size: cover;
}
.inner-pages.services{
    background-image:url('../images/header2.png');
    
}